.task {
    background-color: #f4f4f4;
    margin: 5px;
    padding: 7.5px 17.5px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}